<h1 id="sign-header">Please Sign Up</h1>

<div id="enter-form">
<figure id="avatar" class="smaller"></figure>
<br>
<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
  <input id="sign-in-input" type="text" value="" name="user[username]" placeholder="Username"></input><br>
  <input id="sign-in-input" type="password" value="" name="user[password]" placeholder="Password"></input><br>
  <h3 class="errors"><%= render partial: "layouts/errors"%><h3>
  <p>
  </p>
  <button id="log-button" type="submit" value="Sign In">Sign Up</button>
</form>
<p>
</p>

</div>

<%=link_to "Sign In", new_session_url %>
