/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h3, h4,
h1, h2, li, ul, div, a, header, figure {
 margin: 0;
 border: 0;
 padding: 0;
 outline: 0;
 box-sizing: inherit;
 font: inherit;
 font-family: arial, sans-serif;
 text-decoration: inherit;
 text-align: inherit;
 vertical-align: inherit;
 color: inherit;
 background: transparent;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  color: darkred;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

li {
  margin-bottom: 20px;
}

li > span {
  margin: 10px;
}

button {
  background: #CC231E;
  border-radius: 3px;
  border: 1px solid #7a1512;
  background-image: -webkit-linear-gradient(top, #CC231E, #a31c18);
  color: white;
  font-size: 14px;
  padding-left: 5px;
  width: 100px;
  cursor: pointer;
  margin: 7px;
}

button:focus {
  border: 2px solid #d64e4a;
  outline: none;
}

button:active {
  box-shadow: inset 0 0 2px 40px #bd201c;
  outline: none;
}

button:hover {
 background: #357ae8;
 background-image: -webkit-linear-gradient(top,#CC231E,#901915);
 outline: none;
}

form > span {
  display: block;
  margin-left: 5px;
}

form > span:first-child {
  padding-top: 10px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

#todo {
  position: absolute;
  left: 25%;
  padding: 20px 150px;
  background: #a8a8a8;
  border-radius: 2px;
}

#todo-item {
  width: 400px;
  background: lightcoral;
  border-radius: 5px;
}

#small-tomato {
  background-image: image-url("tomato.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 32px 32px;
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin-top: -15px;
  margin-left: -5px;
}

#crushed-tomato {
  background-image: image-url("crushed.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 150px 150px;
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}

#todo-name {
  width: 300px;
  float: left;
}

#todo-name-input {
  width: 250px;
}

#num-poms {
  float: left;
}

#reminder {
  font-size: 12px;
}

#notification {
  position: absolute;
  right: 0%;
  top: 15%;
  background: darkred;
  border-radius: 15px;
  padding: 80px 100px;
  font-size: 75px;
  text-align: center;
  color: whitesmoke;
}

#notification-button {
  display: block;
  margin: auto;
  margin-top: 20px;
}

#todo-form {
  width: 400px;
  background: #90EE90;
  border-radius: 5px;
  margin-top: 25px;
  height: 125px;
  padding-bottom: 10px;
}

#number-label {
  float: left;
}

#pomodoro-number {
  float: left;
  margin-left: 4px;
}

#form-title {
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
}

#todo-edit-form {
  margin-top: 16px;
}

#timer {
  position: absolute;
  right: 5%;
  top: 15%;
  background: darkred;
  border-radius: 15px;
  padding: 100px 200px;
  font-size: 75px;
  text-align: center;
  color: whitesmoke;
}

#enter-form {
  width: 300px;
  display: block;
  text-align: center;
  margin: auto;
  background: #90EE90;
  border-radius: 10px;
}

#sign-in-input {
  width: 270px;
  font-size: 16px;
  height: 44px;
  padding: 0px, 10px;
  margin-bottom: 10px;
}

#log-button {
  width: 270px;
  height: 40px;
}

#hipster-log-button {
  width: 270px;
  height: 40px;
  margin-top: -125px;
  margin-bottom: 15px;
}

#sign-header {
  color: black;
}

#signout {
  position: absolute;
  right: 28%;
  top: 4%;
  z-index: 1;
  width: 80px;
}
