/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h3, h4,
h1, h2, li, ul, div, a, header, figure {
 margin: 0;
 border: 0;
 padding: 0;
 outline: 0;
 box-sizing: inherit;
 font: inherit;
 font-family: arial, sans-serif;
 text-decoration: inherit;
 text-align: inherit;
 vertical-align: inherit;
 color: inherit;
 background: transparent;
}

body {
  background: #228b22;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

#small-tomato {
  background-image: image-url("tomato.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 32px 32px;
  display: block;
  width: 32px;
  height: 32px;
}
